body{

    background-color: yellow;
}


#log{

    text-align: center;
}
#voltorb{
    max-width:335px;
    max-height:251px;
    width: auto;
    height: auto;

}




#logo{

    max-width:700px;
    max-height:700px;
    width: auto;
    height: auto;


}
#container{
    
    text-align: center;


}
#input1{
 width: 300px;
 height: 30px;
 margin-bottom: 10px;    
 border-radius: 5px;

}
#btn1{
 width: 300px;
 height: 30px;
 border-radius: 5px;

 
}